<div class="site-header">
  <nav>
    <div class="nav">
      <a href="/" aria-current='page'>
        <img class="brand-logo" src="/assets/logo.svg" alt="Bærum Salongorkester">
      </a>
      <ul>
        <li><a href="/about/">Om oss</a></li>
        <li><a href="/events/">Konserter</a></li>
        <li><a href="/contact/">Kontakt</a></li>
      </ul>
    </div>
  </nav>
</div>
